<div class="card my-2 shadow">
    <div class="card-body">
        <h5 class="card-title fw-bold fs-6">
            <a class="text-dark text-decoration-none" [routerLink]="['/blogs', blog_id]">{{title}}</a>
        </h5>
        <p class="card-text text-truncate"> {{details}}..........</p>
        <div class="d-flex justify-content-between mt-2">
            <span>
                <img src="{{profile_pic}}" class="profile-pic mx-1" alt="">
                {{user}}
            </span>
            <small>posted {{askedTime | date:'mediumDate'}}</small>
        </div>
    </div>
</div>